$TTL 2D
$ORIGIN {{ reverse_zone }}.IN-ADDR.ARPA.
@               IN      SOA     {{ nameserver }}. root.localhost (
                                        0       ; serial number
                                        1d12h   ; refresh
                                        15m     ; update retry
                                        3w12h   ; expire
                                        3H )    ; minimum

; NS Records
@               IN      NS      {{ nameserver }}.

; PTR Records
