; zone file for {{ zone }}.
$TTL 2D
$ORIGIN {{ zone }}.
@               IN      SOA     {{ nameserver }}. root.localhost (
                                        0       ; serial number
                                        1d12h   ; refresh
                                        15m     ; update retry
                                        3w12h   ; expire
                                        3H )    ; minimum
; NS Records
@               IN      NS      {{ nameserver }}.
; A Records
{{ nameserver }}.   IN      A       {{ nameserver_ip }}
; AAAA Records
; SRV Records
