TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=eth0
UUID=5c5c5ec9-866d-4fe1-b1b6-62de20df28c0
DEVICE=eth0
ONBOOT=yes
PREFIX=24
DNS1=127.0.0.1
IPADDR=192.168.86.3
DNS2=192.168.86.1
GATEWAY=192.168.86.1
